@import url('root.css');

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    width: 100%;
    
}

/* Slider part */ 
.Slider{
    width: var(--main_width);
    height: var(--slide_height);
    overflow: hidden;
}

.slide{
    width: var(--main_width);
    height: var(--slide_height);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.Slider >  picture > img{
    width: 100%;
    aspect-ratio: initial;
}

/*Product*/
.product, 
.News {
    margin-top: var(--title_margin_top);
    padding-left: var(--title_padding_left);
}

.product >h1, 
.News >h1{
    font-family: var(--header_footer_font_family);
    font-size: var(--title_font_size);
    border-bottom: 0.01rem solid var(--main_color);
    display: inline-block;
    padding: var(--title_margin_top) 0rem;
}

.product_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: var(--product_margin_top);
}

.products{
    position: relative;
}
.products > picture{
    opacity: 0.85;
}
.overlay_text{
    width: var(--main_width);
    height: auto;
    background-color: var(--products_background);
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    font-size: 1.25rem;  
    font-family: var(--header_footer_font_family);
    color: black;
    text-align: center;
}

.products:hover .overlay_text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Information part*/
.information_part{
    width: var(--main_width);
    margin-top: 3.75rem;
    display: grid; 
    justify-content: center;
    align-items: center ;
    gap: 1rem;
}

.news1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.news2{
    display: grid;
    grid-template-columns: repeat(3, 17.5rem);
    grid-gap: 1rem;
}

.news2_part{
    position: relative;
}

 .news2_title{
    width: var(--main_width);
    height: auto;
    background-color: var(--news_background);
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-size: 1.25rem;  
    font-family: var(--header_footer_font_family);
    color: black;
    text-align: center;
}

.news1_part, 
.pizza_pic,
#odd_pic,
.news2_part{
    position: relative;
    opacity: 0;
}

.pizza_pic.active,
.news1_part.active,
#odd_pic.active,
.news2_part.active{
    opacity: 1;
}

.active.slideFromBottom{
    animation: slideFromBottom 0.5s ease-in;
}

@keyframes slideFromBottom{
    0% {
      transform: translateY(3.125rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.active.slideFromLeft{
    animation: slideFromLeft 0.5s ease-in;
}

@keyframes slideFromLeft{
    0% {
      transform: translateX(-3.125rem);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.active.slideFromRight{
    animation: slideFromRight 0.5s ease-in;
}

@keyframes slideFromRight{
    0% {
      transform: translateX(3.125rem);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

 .news2_title,
 .news1_title{
    width: var(--main_width);
    height: auto;
    background-color: var(--news_background);
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-size: 1.25rem;  
    font-family: var(--header_footer_font_family);
    color: black;
    text-align: center;
}

#odd_pic>.news2_title{
    width: 170%;
}

.pizza_pic>picture>img{

   overflow: hidden;
}

.news1_part:hover> .news1_title,
.pizza_pic:hover> .news1_title,
.news2_part:hover> .news2_title,
#odd_pic:hover> .news2_title{
    opacity: 1;
}

@media only screen and (max-width: 87.5rem){
    .product_content{
        flex-wrap: wrap;
        width: 100%; 
    }
}

@media only screen and (max-width: 68.25rem){
    
    .news1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    
    .news2{
        display: grid;
        grid-template-columns: repeat(2,17.5rem);
        grid-gap: 1rem;
        justify-items: center;
    }
    
}   

@media only screen and (max-width: 37.5rem){
    .news1{
        display: flex;
        flex-direction: column;
    }
    
    .news2{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .news1 > section > picture > img {
        width: 70%;
        margin-left: 15%;
    }

    .news2_part{
        margin-left: 40%;
    }

    .news2_part > picture > img{
        width: 90%;
    }

    #odd_pic > picture > img{
        margin-left: 20%;
    }

    .products > picture > img, .products{
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 33rem) {
    .product{
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 21rem) {
    .product .product_title{
        padding-left: 0rem;
    }
    
    .product .product_title>h1{
        font-size: 1.1rem;
    }
}

 @media only screen and (max-width: 72.5rem) {
    .Slider{
        height: 18.75rem;
    }
} 

@media only screen and (max-width: 33.75rem) {
    .Slider{
        height: 6.25rem;
    }

} 







